# Auto detect text files and perform LF normalization
* text=auto

# Dart files
*.dart text eol=lf

# Flutter files
*.yaml text eol=lf
*.yml text eol=lf

# Documentation
*.md text eol=lf

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text eol=lf

# Archives
*.7z binary
*.gz binary
*.tar binary
*.zip binary

# Audio/Video
*.mp3 binary
*.mp4 binary
*.wav binary
*.avi binary

# Fonts
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary 